.menu-item {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    height: 60%;
    width: 60%;
}

.menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}