
body {
    margin: 0;
    width: 100vw;
    background-color: rgb(246, 222, 177);
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(246, 222, 177);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 125px;
    offset: 0;
    background-color: rgb(68, 209, 165);
}
.header button {
    height: 70px;
    width: 200px;
    margin: 2rem;
    font-size: 2rem;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 2%;
}

.header button:hover {
    transform: scale(1.05);
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    top: 100px;
    height: calc(100vh + 125px);
}p

.home-page div {
    margin-top: 55px;
    padding: 35px;
}

.home-page h1 { 
    font-size: 5.5rem;
    font-family: 'Explora', cursive;
}

.home-page h2 {
    font-size: 2rem;
}

.home-page p {
    font-size: 1.5rem;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu-item img {
    height: 30vmax;
    width: 35vmax;
}

.menu-item h2 {
    word-wrap: break-word;
    text-align: center;
    font-size: calc(1.5em + 6px);
}

.menu-item p {
    word-wrap: break-word;
    text-align: center;
    font-size: 1.5em;
}

.menu-page {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 222, 177);
    font-family: 'Montserrat', sans-serif;
}

.menu-page h1 {
    text-align: center;
    grid-column: 1/3;
    margin-top: 125px;
}

@media (max-width: 800px) {
    .header button {
        height: 70px;
        width: 200px;
        margin: 1rem;
        font-size: 2rem;
        padding: 7px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        border-radius: 2%;
    }
    
}

@media (max-width: 700px) {
    .header button {
        height: 70px;
        width: 200px;
        margin: 0.3rem;
        font-size: 1.5rem;
        padding: 7px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        border-radius: 2%;
    }
    
}

@media (max-width: 750px) {
    .home-page h1 {
        font-size: 4.5rem;
        padding-top: 150px;
    }
    .home-page div {
        margin-top: 3px;
        padding: 10px;
    }
}